<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Милам</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#8850F4">
  <meta name="msapplication-navbutton-color" content="#003174">
  <meta name="apple-mobile-web-app-status-bar-style" content="#003174">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main">
    <div class="breadcrumbs">
      <div class="container">
        <ul>
          <li><a href="javascript:void(0)">Главная</a></li>
          <li><span>Страница не найдена</span></li>
        </ul>
      </div>
    </div>
    <div class="section about-section">
      <div class="section-title">
        <div>О нас</div>
      </div>
      <div class="container">

        <div class="about-item row">
          <div class="col-md-7">
            <div class="about-text">
              <span>ООО торговый дом «пирана»</span>
              <p>ООО Торговый Дом «ПИРАНА» - украинский производитель широкого спектра бытовой химии общего назначения,
                таких как:</p>
              <ul>
                <li>Средства для чистки сантехники</li>
                <li>Гели для стирки, сухие порошки и кислородные пятновыводители</li>
                <li>Жидкие мыла для мытья рук</li>
                <li>Средства для мытья посуды</li>
                <li>Средства для чистки мебели, ковров, полов и универсальные средства для домашней уборки.</li>
              </ul>
              <p>Предприятие было основано в 1997 году. Производство находится в Харьковской области, г. Харьков, пгт.
                Васищево.</p>
              <p>Разработка новых продуктов ведется в собственной лаборатории.<br>
                Вся продукция сертифицирована и соответствует стандартам безопасности.</p>
            </div>
          </div>
          <div class="col-md-5">
            <div class="about-pic">
              <picture>
                <source media="(max-width: 574px)" srcset="../../images/pixel.webp"
                  data-original="../../images/about-mob.webp" class="lazy-web" type="image/webp">
                <source media="(max-width: 574px)" srcset="../../images/pixel.jpg"
                  data-original="../../images/about-mob.jpg" class="lazy-web" type="image/jpg">
                <source srcset="../../images/pixel.webp" data-original="../../images/about-01.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/about-01.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/about-01.jpg" class="lazy" alt="">
              </picture>
            </div>
          </div>
        </div>
        <div class="about-item row">
          <div class="col-md-5">
            <div class="about-pic">
              <picture class="about-pic-logo-milam">
                <source srcset="../../images/pixel.webp" data-original="../../images/about-02.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/about-02.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/about-02.png" class="lazy" alt="">
              </picture>
              <picture>
                <source media="(max-width: 574px)" srcset="../../images/pixel.webp"
                  data-original="../../images/about-mob.webp" class="lazy-web" type="image/webp">
                <source media="(max-width: 574px)" srcset="../../images/pixel.jpg"
                  data-original="../../images/about-mob.jpg" class="lazy-web" type="image/jpg">
                <source srcset="../../images/pixel.webp" data-original="../../images/about-03.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/about-03.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/about-03.jpg" class="lazy" alt="">
              </picture>
            </div>
          </div>
          <div class="col-md-7">
            <div class="about-text">
              <span>Торговая марка «МИЛАМ»</span>
              <p>Торговая марка «МИЛАМ» - проверенный временем и любимый многими украинский бренд бытовой химии, был
                основан в 2004 году.
                За время существования был не раз отмечен различными наградами:</p>
              <ul>
                <li>
                  2006 г. – ДИПЛОМ Лауреата по результатам 4-го Всеукраинского конкурса качества продукции «100 лучших
                  товаров Украины
                  2006-2007», который заслужило незаменимое средство для чистки кухонных плит - «Средство для
                  растворения загрязнений,
                  жира, копоти «МИЛАМ».
                </li>
                <li>
                  2007 г. – ЗОЛОТАЯ МЕДАЛЬ и ДИПЛОМ ПОБЕДИТЕЛЯ национального бизнес – рейтинга КВЕД 24.51 по основному
                  виду деятельности
                  «Производство мыла и моющих средств, средств для чистки и полирования», с присвоением звания ЛИДЕР
                  ОТРАСЛИ 2008;
                </li>
                <li>2008 г. – Орден I степени «Звезда экономики Украины» за весомый вклад в - 2009 г. – Диплом финалиста
                  по результатам
                  конкурса «100 Лучших товаров Украины - 2009» на региональном уровне, за высоко востребованное и - 2010
                  г. – Диплом
                  победителя по результатам конкурса «100 Лучших товаров Украины - 2010» на национальном уровне,
                  получило «Средство
                  санитарно-гигиеническое «Сантри-МИЛАМ гель»;</li>
              </ul>
              <p>Лучшее сочетание цены и качества сделала Торговую марку одним из лидеров индустрии и придерживается
                этого курса и по сей
                день.</p>
              <p>Богатый ассортимент продукции представлен как классическими средствами, такими как: «БЕЛИЗНА МИЛАМ»,
                «САНТРИ», «САНТРИ
                МИЛАМ ГЕЛЬ» и «КРОТ», так и совершенно новыми позициями.</p>
              <p>Бренд не стоит на месте, совершенствует уже имеющиеся позиции и осваивает новые направления,
                представленные под Торговой
                маркой «МИЛАМ CHEMICAL».
              </p>
            </div>
          </div>
        </div>
        <div class="about-item row">
          <div class="col-md-7">
            <div class="about-text">
              <span>ТОРГОВАЯ МАРКА «МИЛАМ CHEMICAL»</span>
              <p>Торговая марка «МИЛАМ CHEMICAL» – это совершенно новая премиальная линейка бытовой химии, разработанная
                в 2018 году, на
                основе Торговой марки «МИЛАМ».</p>
              <p>Сохраняя уже имеющиеся преимущества, такие как высокая эффективность и удобство применения, новая
                продукция отличается
                усовершенствованием формулы рецептуры с применением высококачественных компонентов и ароматов,
                разработан яркий броский
                дизайн, соответствующий единому стилю производителя.</p>
              <p>Созданы новые ассортиментные группы товаров:</p>
              <ul>
                <li>Санитарное средство для чистки ванной комнаты;</li>
                <li>Средства для мытья ламината, паркета и линолеума;</li>
                <li>Средство для удаления плесени;</li>
                <li>Различные виды полиролей;</li>
              </ul>
              <p>А также, впервые линейку гранулированных и сухих средств, стиральных порошков для различных видов
                тканей, в том числе и
                для детской одежды, кислородных отбеливателей и универсальных чистящих средств для всего дома.</p>
            </div>
          </div>
          <div class="col-md-5">
            <div class="about-pic">
              <picture class="about-pic-logo-milam-chemical">
                <source srcset="../../images/pixel.webp" data-original="../../images/about-04.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/about-04.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/about-04.png" class="lazy" alt="">
              </picture>
              <picture>
                <source media="(max-width: 574px)" srcset="../../images/pixel.webp"
                  data-original="../../images/about-mob.webp" class="lazy-web" type="image/webp">
                <source media="(max-width: 574px)" srcset="../../images/pixel.png"
                  data-original="../../images/about-mob.jpg" class="lazy-web" type="image/jpg">
                <source srcset="../../images/pixel.webp" data-original="../../images/about-05.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/about-05.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/about-05.jpg" class="lazy" alt="">
              </picture>
            </div>
          </div>
        </div>


      </div>

    </div>


    ${require('../parts/consult.html')}
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
