<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Милам</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#8850F4">
    <meta name="msapplication-navbutton-color" content="#003174">
    <meta name="apple-mobile-web-app-status-bar-style" content="#003174">
</head>
<body>

${require('../parts/header.html')}
<main class="main">
    <div class="breadcrumbs">
        <div class="container">
            <ul>
                <li><a href="javascript:void(0)">Главная</a></li>
                <li><span>Средство для стирки</span></li>
            </ul>
        </div>
    </div>
    <div class="section categories-top">
        <div class="section-title">
            <div>Средство для стирки</div>
        </div>
        <div class="container">
            <div class="categories-top__wrapper">
                <a href="javascript:void(0)" class="categories-top__item current">
                    <div class="categories-top__pic">
                        <picture>
                            <source srcset="../../images/pixel.webp" data-original="../../images/prod-01.webp" class="lazy-web" type="image/webp">
                            <source srcset="../../images/pixel.jpg" data-original="../../images/prod-01.jpg" class="lazy-web" type="image/jpg">
                            <img src="../../images/pixel.jpg" data-original="../../images/prod-01.jpg" class="lazy" alt="">
                        </picture>
                    </div>
                    <span class="categories-top__title">Средство для стирки</span>
                </a>
                <a href="javascript:void(0)" class="categories-top__item inactive">
                    <div class="categories-top__pic">
                        <picture>
                            <source srcset="../../images/pixel.webp" data-original="../../images/prod-02.webp" class="lazy-web" type="image/webp">
                            <source srcset="../../images/pixel.jpg" data-original="../../images/prod-02.jpg" class="lazy-web" type="image/jpg">
                            <img src="../../images/pixel.jpg" data-original="../../images/prod-02.jpg" class="lazy" alt="">
                        </picture>
                    </div>
                    <span class="categories-top__title">Средство по уходу за ванной комнатой</span>
                </a>
                <a href="javascript:void(0)" class="categories-top__item inactive">
                    <div class="categories-top__pic">
                        <picture>
                            <source srcset="../../images/pixel.webp" data-original="../../images/prod-03.webp" class="lazy-web" type="image/webp">
                            <source srcset="../../images/pixel.jpg" data-original="../../images/prod-03.jpg" class="lazy-web" type="image/jpg">
                            <img src="../../images/pixel.jpg" data-original="../../images/prod-03.jpg" class="lazy" alt="">
                        </picture>
                    </div>
                    <span class="categories-top__title">Средство для кухни</span>
                </a>
                <a href="javascript:void(0)" class="categories-top__item inactive">
                    <div class="categories-top__pic">
                        <picture>
                            <source srcset="../../images/pixel.webp" data-original="../../images/prod-04.webp" class="lazy-web" type="image/webp">
                            <source srcset="../../images/pixel.jpg" data-original="../../images/prod-04.jpg" class="lazy-web" type="image/jpg">
                            <img src="../../images/pixel.jpg" data-original="../../images/prod-04.jpg" class="lazy" alt="">
                        </picture>
                    </div>
                    <span class="categories-top__title">Сухие чистящие средства</span>
                </a>
                <a href="javascript:void(0)" class="categories-top__item inactive">
                    <div class="categories-top__pic">
                        <picture>
                            <source srcset="../../images/pixel.webp" data-original="../../images/prod-05.webp" class="lazy-web" type="image/webp">
                            <source srcset="../../images/pixel.jpg" data-original="../../images/prod-05.jpg" class="lazy-web" type="image/jpg">
                            <img src="../../images/pixel.jpg" data-original="../../images/prod-05.jpg" class="lazy" alt="">
                        </picture>
                    </div>
                    <span class="categories-top__title">Средство для дома</span>
                </a>
                <a href="javascript:void(0)" class="categories-top__item inactive">
                    <div class="categories-top__pic">
                        <picture>
                            <source srcset="../../images/pixel.webp" data-original="../../images/prod-06.webp" class="lazy-web" type="image/webp">
                            <source srcset="../../images/pixel.jpg" data-original="../../images/prod-06.jpg" class="lazy-web" type="image/jpg">
                            <img src="../../images/pixel.jpg" data-original="../../images/prod-06.jpg" class="lazy" alt="">
                        </picture>
                    </div>
                    <span class="categories-top__title">Жидкое мыло для рук</span>
                </a>
                <a href="javascript:void(0)" class="categories-top__item inactive">
                    <div class="categories-top__pic">
                        <picture>
                            <source srcset="../../images/pixel.webp" data-original="../../images/prod-07.webp" class="lazy-web" type="image/webp">
                            <source srcset="../../images/pixel.jpg" data-original="../../images/prod-07.jpg" class="lazy-web" type="image/jpg">
                            <img src="../../images/pixel.jpg" data-original="../../images/prod-07.jpg" class="lazy" alt="">
                        </picture>
                    </div>
                    <span class="categories-top__title">Средство для мытья посуды</span>
                </a>
                <a href="javascript:void(0)" class="categories-top__item inactive">
                    <div class="categories-top__pic">
                        <picture>
                            <source srcset="../../images/pixel.webp" data-original="../../images/prod-08.webp" class="lazy-web" type="image/webp">
                            <source srcset="../../images/pixel.jpg" data-original="../../images/prod-08.jpg" class="lazy-web" type="image/jpg">
                            <img src="../../images/pixel.jpg" data-original="../../images/prod-08.jpg" class="lazy" alt="">
                        </picture>
                    </div>
                    <span class="categories-top__title">Для отбеливания и дезинфекции</span>
                </a>
            </div>
            <div class="categories-filters__mob">
                <div class="categories-filters__btn btn-filters__mob">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.8">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15 2V3.67L10 8.429V14H6V8.429L1 3.669V2H15ZM7 8V13H9V8L14 3.24V3H2V3.24L7 8Z" fill="#003174"/>
                        </g>
                    </svg>
                    <span>Фильтры</span>
                    <svg class="arrow" width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.4">
                            <path d="M3.72599 6.523C3.75657 6.56742 3.79749 6.60373 3.84522 6.62882C3.89296 6.65391 3.94607 6.66701 3.99999 6.66701C4.05392 6.66701 4.10703 6.65391 4.15476 6.62882C4.2025 6.60373 4.24341 6.56742 4.27399 6.523L7.274 2.18967C7.30872 2.13969 7.32908 2.08115 7.33287 2.0204C7.33666 1.95966 7.32373 1.89904 7.29549 1.84513C7.26725 1.79122 7.22477 1.74608 7.17267 1.71462C7.12058 1.68316 7.06085 1.66657 7 1.66667H0.999994C0.939275 1.66692 0.879774 1.68372 0.827888 1.71526C0.776002 1.74679 0.733695 1.79188 0.705517 1.84567C0.677339 1.89945 0.664356 1.9599 0.667964 2.02051C0.671572 2.08112 0.691634 2.13961 0.725994 2.18967L3.72599 6.523Z" fill="#383838"/>
                        </g>
                    </svg>
                </div>
                <div class="selected-filters">
                    <a class="selected-filters__clear" href="javascript:void(0)">
                        <span>Кухня</span>
                        <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.49518 0.916504L2.99935 2.41234L1.50352 0.916504L0.916016 1.504L2.41185 2.99984L0.916016 4.49567L1.50352 5.08317L2.99935 3.58734L4.49518 5.08317L5.08268 4.49567L3.58685 2.99984L5.08268 1.504L4.49518 0.916504Z" fill="#004BB3"/>
                        </svg>
                    </a>
                    <a class="selected-filters__clear clear-all" href="javascript:void(0)">
                        <span>Очистить фильтры</span>
                        <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.49518 0.916504L2.99935 2.41234L1.50352 0.916504L0.916016 1.504L2.41185 2.99984L0.916016 4.49567L1.50352 5.08317L2.99935 3.58734L4.49518 5.08317L5.08268 4.49567L3.58685 2.99984L5.08268 1.504L4.49518 0.916504Z" fill="#004BB3"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section categories-main">
        <div class="container">
            <div class="categories-main__content">
                <div class="categories-main__top">
                    <div class="col-left">
                        <div class="categories-filters__btn btn-filters">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g opacity="0.8">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15 2V3.67L10 8.429V14H6V8.429L1 3.669V2H15ZM7 8V13H9V8L14 3.24V3H2V3.24L7 8Z" fill="#003174"/>
                                </g>
                            </svg>
                            <span>Отобразить фильтры</span>
                            <svg class="arrow" width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g opacity="0.4">
                                    <path d="M3.72599 6.523C3.75657 6.56742 3.79749 6.60373 3.84522 6.62882C3.89296 6.65391 3.94607 6.66701 3.99999 6.66701C4.05392 6.66701 4.10703 6.65391 4.15476 6.62882C4.2025 6.60373 4.24341 6.56742 4.27399 6.523L7.274 2.18967C7.30872 2.13969 7.32908 2.08115 7.33287 2.0204C7.33666 1.95966 7.32373 1.89904 7.29549 1.84513C7.26725 1.79122 7.22477 1.74608 7.17267 1.71462C7.12058 1.68316 7.06085 1.66657 7 1.66667H0.999994C0.939275 1.66692 0.879774 1.68372 0.827888 1.71526C0.776002 1.74679 0.733695 1.79188 0.705517 1.84567C0.677339 1.89945 0.664356 1.9599 0.667964 2.02051C0.671572 2.08112 0.691634 2.13961 0.725994 2.18967L3.72599 6.523Z" fill="#383838"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="col-right">
                        <div class="selected-filters">
                            <a class="selected-filters__clear" href="javascript:void(0)">
                                <span>Кухня</span>
                                <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.49518 0.916504L2.99935 2.41234L1.50352 0.916504L0.916016 1.504L2.41185 2.99984L0.916016 4.49567L1.50352 5.08317L2.99935 3.58734L4.49518 5.08317L5.08268 4.49567L3.58685 2.99984L5.08268 1.504L4.49518 0.916504Z" fill="#004BB3"/>
                                </svg>
                            </a>
                            <a class="selected-filters__clear clear-all" href="javascript:void(0)">
                                <span>Очистить фильтры</span>
                                <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.49518 0.916504L2.99935 2.41234L1.50352 0.916504L0.916016 1.504L2.41185 2.99984L0.916016 4.49567L1.50352 5.08317L2.99935 3.58734L4.49518 5.08317L5.08268 4.49567L3.58685 2.99984L5.08268 1.504L4.49518 0.916504Z" fill="#004BB3"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="categories-main__wrapper">
                    <div class="categories-filters">
                        <div class="categories-filters__main">
                            <div class="categories-filter__block">
                                <div class="categories-filter__head">
                                    Продукция
                                </div>
                                <div class="categories-filter__body">
                                    <a href="javascript:void(0)" class="filter checked">Средство для стирки</a>
                                    <a href="javascript:void(0)" class="filter">Средство по уходу за ванной комнатой</a>
                                    <a href="javascript:void(0)" class="filter">Сухие чистящие средства</a>
                                    <a href="javascript:void(0)" class="filter">Средство для дома</a>
                                    <a href="javascript:void(0)" class="filter">Жидкое мыло для рук</a>
                                    <a href="javascript:void(0)" class="filter">Средство для мытья посуды</a>
                                    <a href="javascript:void(0)" class="filter">Для отбеливания и дезинфекции</a>
                                </div>
                            </div>
                            <div class="categories-filter__block">
                                <div class="categories-filter__head">
                                    Назначение
                                </div>
                                <div class="categories-filter__body">
                                    <a href="javascript:void(0)" class="filter check checked">Кухня</a>
                                    <a href="javascript:void(0)" class="filter check">Ванная</a>
                                    <a href="javascript:void(0)" class="filter check">Пол</a>
                                    <a href="javascript:void(0)" class="filter check">Дом</a>
                                </div>
                            </div>
                            <div class="categories-filter__block">
                                <div class="categories-filter__head">
                                    Объем
                                </div>
                                <div class="categories-filter__body">
                                    <a href="javascript:void(0)" class="filter check">250 мл</a>
                                    <a href="javascript:void(0)" class="filter check">500 мл</a>
                                    <a href="javascript:void(0)" class="filter check">750 мл</a>
                                    <a href="javascript:void(0)" class="filter check">1 л</a>
                                </div>
                            </div>
                            <div class="categories-filter__block">
                                <div class="categories-filter__head">
                                    Отдушка
                                </div>
                                <div class="categories-filter__body">
                                    <a href="javascript:void(0)" class="filter check">Лимон</a>
                                    <a href="javascript:void(0)" class="filter check">Море</a>
                                    <a href="javascript:void(0)" class="filter check">Хлор</a>
                                    <a href="javascript:void(0)" class="filter check">Нейтральный</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="categories-items">
                        <div class="col">
                            <a href="javascript:void(0)" class="cat-item">
                                <div class="cat-pic">
                                    <picture>
                                        <source srcset="../../images/pixel.webp" data-original="../../images/product-01.webp" class="lazy-web" type="image/webp">
                                        <source srcset="../../images/pixel.jpg" data-original="../../images/product-01.jpg" class="lazy-web" type="image/jpg">
                                        <img src="../../images/pixel.jpg" data-original="../../images/product-01.jpg" class="lazy" alt="">
                                    </picture>
                                </div>
                                <span class="cat-title">Милам Chemical кислородный пятновыводитель 750</span>
                            </a>
                        </div>
                        <div class="col">
                            <a href="javascript:void(0)" class="cat-item">
                                <div class="cat-pic">
                                    <picture>
                                        <source srcset="../../images/pixel.webp" data-original="../../images/product-02.webp" class="lazy-web" type="image/webp">
                                        <source srcset="../../images/pixel.jpg" data-original="../../images/product-02.jpg" class="lazy-web" type="image/jpg">
                                        <img src="../../images/pixel.jpg" data-original="../../images/product-02.jpg" class="lazy" alt="">
                                    </picture>
                                </div>
                                <span class="cat-title">Милам Sprey Chrome 520 для хромированных и акриловых поверхностей</span>
                            </a>
                        </div>
                        <div class="col">
                            <a href="javascript:void(0)" class="cat-item">
                                <div class="cat-pic">
                                    <picture>
                                        <source srcset="../../images/pixel.webp" data-original="../../images/product-03.webp" class="lazy-web" type="image/webp">
                                        <source srcset="../../images/pixel.jpg" data-original="../../images/product-03.jpg" class="lazy-web" type="image/jpg">
                                        <img src="../../images/pixel.jpg" data-original="../../images/product-03.jpg" class="lazy" alt="">
                                    </picture>
                                </div>
                                <span class="cat-title">Милам Chemical Krot 1000 для прочистки канализационных труб</span>
                            </a>
                        </div>
                        <div class="col">
                            <a href="javascript:void(0)" class="cat-item">
                                <div class="cat-pic">
                                    <picture>
                                        <source srcset="../../images/pixel.webp" data-original="../../images/product-01.webp" class="lazy-web" type="image/webp">
                                        <source srcset="../../images/pixel.jpg" data-original="../../images/product-01.jpg" class="lazy-web" type="image/jpg">
                                        <img src="../../images/pixel.jpg" data-original="../../images/product-01.jpg" class="lazy" alt="">
                                    </picture>
                                </div>
                                <span class="cat-title">Милам Chemical кислородный пятновыводитель 750</span>
                            </a>
                        </div>
                        <div class="col">
                            <a href="javascript:void(0)" class="cat-item">
                                <div class="cat-pic">
                                    <picture>
                                        <source srcset="../../images/pixel.webp" data-original="../../images/product-02.webp" class="lazy-web" type="image/webp">
                                        <source srcset="../../images/pixel.jpg" data-original="../../images/product-02.jpg" class="lazy-web" type="image/jpg">
                                        <img src="../../images/pixel.jpg" data-original="../../images/product-02.jpg" class="lazy" alt="">
                                    </picture>
                                </div>
                                <span class="cat-title">Милам Sprey Chrome 520 для хромированных и акриловых поверхностей</span>
                            </a>
                        </div>
                        <div class="col">
                            <a href="javascript:void(0)" class="cat-item">
                                <div class="cat-pic">
                                    <picture>
                                        <source srcset="../../images/pixel.webp" data-original="../../images/product-03.webp" class="lazy-web" type="image/webp">
                                        <source srcset="../../images/pixel.jpg" data-original="../../images/product-03.jpg" class="lazy-web" type="image/jpg">
                                        <img src="../../images/pixel.jpg" data-original="../../images/product-03.jpg" class="lazy" alt="">
                                    </picture>
                                </div>
                                <span class="cat-title">Милам Chemical Krot 1000 для прочистки канализационных труб</span>
                            </a>
                        </div>
                        <div class="col">
                            <a href="javascript:void(0)" class="cat-item">
                                <div class="cat-pic">
                                    <picture>
                                        <source srcset="../../images/pixel.webp" data-original="../../images/product-01.webp" class="lazy-web" type="image/webp">
                                        <source srcset="../../images/pixel.jpg" data-original="../../images/product-01.jpg" class="lazy-web" type="image/jpg">
                                        <img src="../../images/pixel.jpg" data-original="../../images/product-01.jpg" class="lazy" alt="">
                                    </picture>
                                </div>
                                <span class="cat-title">Милам Chemical кислородный пятновыводитель 750</span>
                            </a>
                        </div>
                        <div class="col">
                            <a href="javascript:void(0)" class="cat-item">
                                <div class="cat-pic">
                                    <picture>
                                        <source srcset="../../images/pixel.webp" data-original="../../images/product-02.webp" class="lazy-web" type="image/webp">
                                        <source srcset="../../images/pixel.jpg" data-original="../../images/product-02.jpg" class="lazy-web" type="image/jpg">
                                        <img src="../../images/pixel.jpg" data-original="../../images/product-02.jpg" class="lazy" alt="">
                                    </picture>
                                </div>
                                <span class="cat-title">Милам Sprey Chrome 520 для хромированных и акриловых поверхностей</span>
                            </a>
                        </div>
                        <div class="col">
                            <a href="javascript:void(0)" class="cat-item">
                                <div class="cat-pic">
                                    <picture>
                                        <source srcset="../../images/pixel.webp" data-original="../../images/product-03.webp" class="lazy-web" type="image/webp">
                                        <source srcset="../../images/pixel.jpg" data-original="../../images/product-03.jpg" class="lazy-web" type="image/jpg">
                                        <img src="../../images/pixel.jpg" data-original="../../images/product-03.jpg" class="lazy" alt="">
                                    </picture>
                                </div>
                                <span class="cat-title">Милам Chemical Krot 1000 для прочистки канализационных труб</span>
                            </a>
                        </div>
                        <div class="col">
                            <a href="javascript:void(0)" class="cat-item">
                                <div class="cat-pic">
                                    <picture>
                                        <source srcset="../../images/pixel.webp" data-original="../../images/product-01.webp" class="lazy-web" type="image/webp">
                                        <source srcset="../../images/pixel.jpg" data-original="../../images/product-01.jpg" class="lazy-web" type="image/jpg">
                                        <img src="../../images/pixel.jpg" data-original="../../images/product-01.jpg" class="lazy" alt="">
                                    </picture>
                                </div>
                                <span class="cat-title">Милам Chemical кислородный пятновыводитель 750</span>
                            </a>
                        </div>
                        <div class="col">
                            <a href="javascript:void(0)" class="cat-item">
                                <div class="cat-pic">
                                    <picture>
                                        <source srcset="../../images/pixel.webp" data-original="../../images/product-02.webp" class="lazy-web" type="image/webp">
                                        <source srcset="../../images/pixel.jpg" data-original="../../images/product-02.jpg" class="lazy-web" type="image/jpg">
                                        <img src="../../images/pixel.jpg" data-original="../../images/product-02.jpg" class="lazy" alt="">
                                    </picture>
                                </div>
                                <span class="cat-title">Милам Sprey Chrome 520 для хромированных и акриловых поверхностей</span>
                            </a>
                        </div>
                        <div class="col">
                            <a href="javascript:void(0)" class="cat-item">
                                <div class="cat-pic">
                                    <picture>
                                        <source srcset="../../images/pixel.webp" data-original="../../images/product-03.webp" class="lazy-web" type="image/webp">
                                        <source srcset="../../images/pixel.jpg" data-original="../../images/product-03.jpg" class="lazy-web" type="image/jpg">
                                        <img src="../../images/pixel.jpg" data-original="../../images/product-03.jpg" class="lazy" alt="">
                                    </picture>
                                </div>
                                <span class="cat-title">Милам Chemical Krot 1000 для прочистки канализационных труб</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="categories-pagination">
            <div class="container">
                <ul class="pagination">
                    <li class="current">
                        <span>1</span>
                    </li>
                    <li>
                        <a href="javascript:void(0)">2</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">3</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">4</a>
                    </li>
                    <li class="next">
                        <a href="javascript:void(0)">&gt;&gt;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    ${require('../parts/consult.html')}
</main>
${require('../parts/footer.html')}
<div class="overlay"></div>
<div class="mobile-filters__wrapper">
    <div class="mobile-filters__head mobile-filters__close">
        <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.72599 6.523C3.75657 6.56742 3.79749 6.60373 3.84522 6.62882C3.89296 6.65391 3.94607 6.66701 3.99999 6.66701C4.05392 6.66701 4.10703 6.65391 4.15476 6.62882C4.2025 6.60373 4.24341 6.56742 4.27399 6.523L7.274 2.18967C7.30872 2.13969 7.32908 2.08115 7.33287 2.0204C7.33666 1.95966 7.32373 1.89904 7.29549 1.84513C7.26725 1.79122 7.22477 1.74608 7.17267 1.71462C7.12058 1.68316 7.06085 1.66657 7 1.66667H0.999994C0.939275 1.66692 0.879774 1.68372 0.827888 1.71526C0.776002 1.74679 0.733695 1.79188 0.705517 1.84567C0.677339 1.89945 0.664356 1.9599 0.667964 2.02051C0.671572 2.08112 0.691634 2.13961 0.725994 2.18967L3.72599 6.523Z" fill="#fff"/>
        </svg>
        Фильтры
    </div>
    <div class="mobile-filters__body">
        <div class="categories-filter__block">
            <div class="categories-filter__head">
                Продукция
            </div>
            <div class="categories-filter__body">
                <a href="javascript:void(0)" class="filter checked">Средство для стирки</a>
                <a href="javascript:void(0)" class="filter">Средство по уходу за ванной комнатой</a>
                <a href="javascript:void(0)" class="filter">Сухие чистящие средства</a>
                <a href="javascript:void(0)" class="filter">Средство для дома</a>
                <a href="javascript:void(0)" class="filter">Жидкое мыло для рук</a>
                <a href="javascript:void(0)" class="filter">Средство для мытья посуды</a>
                <a href="javascript:void(0)" class="filter">Для отбеливания и дезинфекции</a>
            </div>
        </div>
        <div class="categories-filter__block">
            <div class="categories-filter__head">
                Назначение
            </div>
            <div class="categories-filter__body">
                <div class="filter">
                    <input type="checkbox" id="purpose_01">
                    <label for="purpose_01">Кухня</label>
                </div>
                <div class="filter">
                    <input type="checkbox" id="purpose_02">
                    <label for="purpose_02">Ванная</label>
                </div>
                <div class="filter">
                    <input type="checkbox" id="purpose_03">
                    <label for="purpose_03">Пол</label>
                </div>
                <div class="filter">
                    <input type="checkbox" id="purpose_04">
                    <label for="purpose_04">Дом</label>
                </div>
            </div>
        </div>
        <div class="categories-filter__block">
            <div class="categories-filter__head">
                Объем
            </div>
            <div class="categories-filter__body">
                <div class="filter">
                    <input type="checkbox" id="vol_01">
                    <label for="vol_01">250 мл</label>
                </div>
                <div class="filter">
                    <input type="checkbox" id="vol_02">
                    <label for="vol_02">500 мл</label>
                </div>
                <div class="filter">
                    <input type="checkbox" id="vol_03">
                    <label for="vol_03">750 мл</label>
                </div>
                <div class="filter">
                    <input type="checkbox" id="vol_04">
                    <label for="vol_04">1 л</label>
                </div>
            </div>
        </div>
        <div class="categories-filter__block">
            <div class="categories-filter__head">
                Отдушка
            </div>
            <div class="categories-filter__body">
                <div class="filter">
                    <input type="checkbox" id="perfume_01">
                    <label for="perfume_01">Лимон</label>
                </div>
                <div class="filter">
                    <input type="checkbox" id="perfume_02">
                    <label for="perfume_02">Море</label>
                </div>
                <div class="filter">
                    <input type="checkbox" id="perfume_03">
                    <label for="perfume_03">Хлор</label>
                </div>
                <div class="filter">
                    <input type="checkbox" id="perfume_04">
                    <label for="perfume_04">Нейтральный</label>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-filters__footer">
        <span class="btn btn-tr mobile-filters__close">Назад</span>
        <span class="btn">Готово</span>
    </div>
</div>
</body>
</html>