<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Милам</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#8850F4">
  <meta name="msapplication-navbutton-color" content="#003174">
  <meta name="apple-mobile-web-app-status-bar-style" content="#003174">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main">
    <div class="breadcrumbs">
      <div class="container">
        <ul>
          <li><a href="javascript:void(0)">Главная</a></li>
          <li><a href="javascript:void(0)">Для кухни</a></li>
          <li><a href="javascript:void(0)">Для чистоты плит</a></li>
          <li><span>Чистящее средство для пола и кухонных поверхностей Кухня морской бриз 1л</span></li>
        </ul>
      </div>
    </div>
    <div class="product">
      <div class="container">
        <div class="product-inner row">
          <div class="product-photo col-md-5">
            <div class="product-slider-main slick-slider"
              data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "asNavFor": ".product-slider-previews", "fade": true, "arrows": true, "infinite": true}'>
              <div class="slide">
                <picture>
                  <source class="zoom-pic" srcset="../../images/product-slide-main.webp" class="lazy-web"
                    type="image/webp">
                  <source class="zoom-pic" srcset="../../images/product-slide-main.jpg" class="lazy-web"
                    type="image/jpg">
                  <img class="zoom-pic" src="../../images/product-slide-main.jpg"
                    alt="КИСЛОРОДНЫЙ ПЯТНОВЫВОДИТЕЛЬ СПРЕЙ «МИЛАМ CHEMICAL» 750 мл">
                </picture>
              </div>
              <div class="slide">
                <picture>
                  <source class="zoom-pic" srcset="../../images/product-slide-main.webp" class="lazy-web"
                    type="image/webp">
                  <source class="zoom-pic" srcset="../../images/product-slide-main.jpg" class="lazy-web"
                    type="image/jpg">
                  <img class="zoom-pic" src="../../images/product-slide-main.jpg" alt="">
                </picture>
              </div>
              <div class="slide">
                <picture>
                  <source class="zoom-pic" srcset="../../images/product-slide-main.webp" class="lazy-web"
                    type="image/webp">
                  <source class="zoom-pic" srcset="../../images/product-slide-main.jpg" class="lazy-web"
                    type="image/jpg">
                  <img class="zoom-pic" src="../../images/product-slide-main.jpg" alt="">
                </picture>
              </div>
            </div>
            <div class="product-slider-previews slick-slider" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "variableWidth": true, "asNavFor": ".product-slider-main", "focusOnSelect": true,  "arrows": false, "infinite": true,
            "responsive":[{"breakpoint":480,"settings":{"slidesToShow": 6}}]}'>
              <div class="slide">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/product-slide-main.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.jpg" data-original="../../images/product-slide-main.jpg"
                    class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/product-slide-main.jpg" class="lazy"
                    alt="КИСЛОРОДНЫЙ ПЯТНОВЫВОДИТЕЛЬ СПРЕЙ «МИЛАМ CHEMICAL» 750 мл">
                </picture>
              </div>
              <div class="slide">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/product-slide-main.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.jpg" data-original="../../images/product-slide-main.jpg"
                    class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/product-slide-main.jpg" class="lazy"
                    alt="КИСЛОРОДНЫЙ ПЯТНОВЫВОДИТЕЛЬ СПРЕЙ «МИЛАМ CHEMICAL» 750 мл">
                </picture>
              </div>
              <div class="slide">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/product-slide-main.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.jpg" data-original="../../images/product-slide-main.jpg"
                    class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/product-slide-main.jpg" class="lazy"
                    alt="КИСЛОРОДНЫЙ ПЯТНОВЫВОДИТЕЛЬ СПРЕЙ «МИЛАМ CHEMICAL» 750 мл">
                </picture>
              </div>
            </div>

          </div>
          <div class="product-description col-md-7">
            <h1>КИСЛОРОДНЫЙ ПЯТНОВЫВОДИТЕЛЬ СПРЕЙ
              «МИЛАМ CHEMICAL» 750 мл
            </h1>
            <span>Описание:</span>
            <p>Средство жидкое ароматизированное для удаления пятен «МИЛАМ chemical». Удаляет пятна от соусов, кофе,
              вина, ягод, крови
              и прочее с деликатных тканей. Не повреждает волокна. Эффективная кислородная добавка к обычному
              стиральному порошку.
            </p>
            <span>Объем:</span>
            <ul class="product-description-size">
              <li>
                <div>
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/product-01.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/product-01.jpg" class="lazy-web"
                      type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/product-01.jpg" class="lazy" alt="">
                  </picture>
                  <span>750 мл</span>
                </div>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/product-01.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/product-01.jpg" class="lazy-web"
                      type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/product-01.jpg" class="lazy" alt="">
                  </picture>
                  <span>1 л</span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/product-01.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/product-01.jpg" class="lazy-web"
                      type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/product-01.jpg" class="lazy" alt="">
                  </picture>
                  <span>2 л</span>
                </a>
              </li>
            </ul>
            <span>Назначение:</span>
            <p>Кухня, пол</p>
            <span>Инструкция по применению</span>
            <p>Подходит для изделий всех видов тканей. Сохраняет цвет и не повреждает волокна изделий. <b>Не содержит
                хлор</b>. Перед
              применением взболтать содержимое бутылки. С помощью распылителя нанести средство на пятно в виде пены.
              Оставить на 5-15
              мин. в зависимости от загрязнения. Провести стирку, как обозначено в рекомендациях изделия. В случае
              необходимости
              добавить 100-150мл средства в стиральную машину. Перед использованием средства внимательно прочитайте все
              предупреждения
              на изделии, обратите внимание на инструкции по стирке. Для тканей с нестойким красителем предварительно
              проверить
              пятновыводитель на неприметном месте. Побрызгайте на загрязненный воротник, манжеты или другую
              поверхность. Положите в
              стиральную машину и стирайте обычным способом не позднее, чем 10 минут после разбрызгивания. Не давайте
              засохнуть
              средству засохнуть на ткани. Может использоваться при всех видах стирки. Обладает дезинфицирующим
              эффектом. Устраняет
              неприятный запах.
            </p>
            <span>Меры безопасности</span>
            <p>Осторожно! Содержит перекись водорода! При длительном пользовании работать в резиновых перчатках. Беречь
              глаза.
              Использовать по назначению. Не направлять распылитель в глаза. В случае попадания средства в глаза или на
              кожу промыть
              проточной водой. Хранить плотно закрытым в местах недоступных для детей. Не наносить на металлические
              детали одежды.
              Боится нагревания. Не хранить под прямыми солнечными лучами. Не переливать в другую посуду.</p>
            <span>Документы / Сертификаты:</span>
            <div class="product-description-doc">
              <a href="javascript:void(0)">Сертификат1.pdf</a>
              <a href="javascript:void(0)">Сертификат2.pdf</a>
            </div>
            <span>Состав:</span>
            <p>Вода питьевая, перекись водорода (&lt;5%), неионогенные ПАВ (&lt;5%), анионные ПАВ (&lt;5%), натрия
              триполифосфат
              (&lt;5%), трилон Б (&lt;5%), кислота ортофосфорная, отдушка, краситель. </p>
            <span>Срок годности</span>
            <p>12 месяцев</p>
            <span>Условия хранения</span>
            <p>от 0 С до 30 С</p>
          </div>
        </div>
      </div>
    </div>
    ${require('../parts/consult.html')}
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
