.popular-section{
  padding-top: 65px;
  @include bp(xs){
    padding-top: 30px;
  }
}

.popular-wrapper{
  position: relative;
  height: 665px;
  min-height: 665px;
  overflow: hidden;
  margin-top: 60px;
  padding-top: 100px;
  @include bp(xs){
    margin-top: 22px;
    padding-top: 0;
    padding-bottom: 30px;
    height: auto;
    min-height: unset;
  }
  .container{
    @include bp(xs){
      padding: 0;
    }
  }
  &:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 323px;
    background-color: $accent;
    left: 0;
    top: 0;
    @include bp(xs){
      height: calc(48px + 34vw);
    }
  }
  &:after{
    position: absolute;
    content: '';
    width: 100%;
    height: calc(100% - 323px);
    background-color: #DFDFDF;
    left: 0;
    top: 323px;
    @include bp(xs){
      display: none;
    }
  }
}

.popular-slider{
  position: relative;
  z-index: 1;
  margin: 0 -15px;
  @include bp(xs){
    margin: 0 0 0 15px;
    width: calc(100vw - 30px);
    padding-top: 48px;
  }
  &:before{
    display: none;
    position: absolute;
    content: '';
    left: -15px;
    top: 0;
    background-color: $accent;
    width: 15px;
    height: calc(48px + 34vw);
    z-index: 2;
    @include bp(xs){
      display: block;
    }
  }
  &:after{
    display: none;
    position: absolute;
    content: '';
    left: -15px;
    top: 0;
    background-color: #fff;
    width: 15px;
    height: 100%;
    z-index: 1;
    @include bp(xs){
      display: block;
    }
  }
  &:not(.slick-initialized){
    display: flex;
    .slide{
      width: 390px;
      padding: 0 15px;
      @include bp(xs){
        width: calc(50vw - 15px);
        padding: 0 5px 0 0;
      }
    }
  }
  .slick-list{
    @include bp(xs){
      height: inherit;
      overflow: visible;
    }
  }
  .slick-track{
    @include bp(xs){
      height: inherit;
      display: flex;
    }
  }
  .slick-slide{
    padding: 0 15px;
    @include bp(xs){
      height: inherit;
      padding: 0 5px 0 0;
      display: flex !important;
    }
    >div{
      height: 100%;
    }
  }
  .slide{
    text-decoration: none;
    @include bp(xs){
      height: 100%;
    }
    &:hover, &:focus{
      text-decoration: none;
    }
    &:hover{
      .popular-title{
        color: $accent;
        @include bp(xs){
          color: #fff;
        }
      }
    }
  }
  .slick-arrow{
    position: absolute;
    z-index: 3;
    cursor: pointer;
    top: -63px;
    border: none;
    font-size: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 25px;
    height: 25px;
    @include bp(xs){
      width: 15px;
      height: 15px;
      top: 17px;
    }
    &:before{
      content: '';
      width: 10px;
      height: 18px;
      background-color: #fff;
      transition: linear .2s;
      @include bp(xs){
        width: 6px;
        height: 11px;
      }
    }
    &.slick-disabled{
      pointer-events: none;
      &:before{
        background-color: #C4C4C4;
      }
    }
    &:hover{
      &:before{
        background-color: $light;
      }
    }
    &.slick-prev{
      right: 60px;
      @include bp(xs){
        right: 32px;
      }
      &:before{
        -webkit-mask: url('../images/icons/arrow-left.svg');
        mask: url('../images/icons/arrow-left.svg');
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
      }
    }
    &.slick-next{
      right: 15px;
      @include bp(xs){
        right: 4px;
      }
      &:before{
        -webkit-mask: url('../images/icons/arrow-right.svg');
        mask: url('../images/icons/arrow-right.svg');
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
      }
    }
  }
  .slick-dots{
    position: absolute;
    left: 6px;
    top: -50px;
    display: flex;
    justify-content: center;
    @include bp(xs){
      top: 23px;
      left: -5px;
    }
    li{
      display: flex;
      margin: 0 9px;
      @include bp(xs){
        margin: 0 5px;
      }
      &.slick-active{
        button{
          opacity: 1;
        }
      }
      button{
        width: 7px;
        height: 7px;
        border-radius: 50%;
        font-size: 0;
        padding: 0;
        border: none;
        background-color: #fff;
        opacity: .5;
        transition: linear .2s;
        @include bp(xs){
          width: 5px;
          height: 5px;
        }
        &:hover{
          opacity: 1;
        }
      }
    }
  }
}

.popular-pic{
  width: 100%;
  height: 337px;
  min-height: 337px;
  background-color: #fff;
  margin-bottom: 18px;
  @include bp(xs){
    margin-bottom: 0;
    height: 44vw;
    min-height: 44vw;
    border: 1px solid #DFDFDF;
  }
  picture{
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.popular-title{
  font-size: 18px;
  line-height: 22px;
  display: block;
  color: $blue;
  @include bp(xs){
    background-color: $accent;
    height: calc(100% - 44vw);
    padding: 8px 5px;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
  }
}