.partners-section{
  padding: 30px 0 0;
  .section-title{
    margin-bottom: 22px;
  }
}

.partners-tabs{
  display: flex;
  justify-content: center;
  margin: 0 auto 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  border: 1px solid $blue;
  padding: 4px;
  width: max-content;
  border-radius: 300px;
  li{
    color: $blue;
    padding: 0 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    height: 40px;
    border-radius: 300px;
    &.active{
      background-color: $blue;
      color: #fff;
    }
  }
}

.tabs-content{
  display: none;
  &.active{
    display: block;
  }
}

.distributors-wrapper{
  padding: 40px 0;
  background: #F7F7F7;
}

.distributors-main{
  display: flex;
  width: 805px;
  margin: 0 auto;
}

.distributors-info{
  display: none;
  width: calc(100% - 552px);
  padding-right: 15px;
  padding-top: 38px;
  &.active{
    display: block;
  }
}

.distributors-info__head{
  display: none;
}

.distributors-info__body{
  >div{
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }
    small{
      display: block;
      font-weight: 600;
      font-size: 11px;
      line-height: 120%;
      color: #C4C4C4;
      margin-bottom: 5px;
    }
    span{
      display: block;
      font-size: 14px;
      line-height: 120%;
      color: $blue;
    }

  }
  hr{
    border-top: 1px solid #c5c5c5;
    margin: 30px 0;
  }
}

.map-wrapper{
  width: 552px;
  height: 374px;
  position: relative;
  .title{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    font-size: 11px;
    line-height: 13px;
    color: $accent;
    background-color: #fff;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 14px;
    border-radius: 3px;
    &:before{
      position: absolute;
      content: '';
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-top: 6px solid #fff;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
    &.active{
      opacity: 1;
      visibility: visible;
    }
  }
}

.ua-map{
  .city{
    position: relative;
    cursor: pointer;
    circle{
      opacity: 0;
      visibility: hidden;
      fill: #fff;
    }
    &.active{
      >path{
        fill: $accent;
      }
      circle{
        opacity: 1;
        visibility: visible;
      }
    }
  }
}