// Переменные для приложения и всех модулей

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$blue: #003174;
$accent: #004BB3;
$light: #00A5F8;
$text: rgba(56, 56, 56, 0.8);
$default: "Inter";
